@import "tailwindcss";

@theme {
  --color-brand-brown-100: #c8964e;
  --color-brand-brown-200: #b08446;

  --color-brand-green-100: #24d173;
  --color-brand-green-200: #29b96b;

  --color-brand-red-100: #ce3016;
  --color-brand-red-200: #ba2107;

  --color-brand-blue-100: #657399;
  --color-brand-blue-200: #4e6ec7;

  --color-brand-gray-100: #e1e6eb;
  --color-brand-gray-200: #f0f5f5;
  --color-brand-gray-300: #383838

  --color-brand-yellow-100: #f5d41d;
  --color-brand-yellow-200: #ecbf3e;
}

@layer components {
  .animates {
    @apply transition-all duration-500 ease-in-out;
  }
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
